/* ejercicio1a.css GG20031 */

fichero{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    display:block;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 3px #7AF6DD solid;
    background:#FAB235;
    color:black;
}

ficha{
    padding: 5px;
    background-color:#EAB9EF;
    width: 40px;
    height:40px;
}

ficha *{
    display:inline-block;
    
    height:40px;
}

nombre, apellido,Dui,AFP{
    display:inline-block;
}

pais,municipio *{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    display:block;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 6px darkgreen solid;
    background:#181A1B;
    color:white;
}
municipio *{
    display:inline-block;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin: 10px auto;
    padding: 20px;
}

departamento,municipio{
    display:block;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

